<% @flights.each do |f|%>

    <div class="flights-info">
        <h4>from: <%= link_to f.from_airport.code, airport_path(f.from_airport_id)%>,
            to: <%= link_to f.to_airport.code, airport_path(f.to_airport_id)%>, 
            leave date: <%= f.start_date%>,
            empty seats: <%= 50 - f.num_of_passengers%>
            
        </h4>
    </div>
<% end %>